# Telegram Bot Token (получен от @BotFather)
BOT_TOKEN=8525280779:AAHx0kYcCc8OP0YyHRzp2RMcPxOVbSd4XqU

# ID администратора (ваш Telegram ID)
ADMIN_ID=7343069714

# Реквизиты для оплаты картой (устарело, используется мобильный)
PAYMENT_CARD=your_card_number_here
PAYMENT_RECIPIENT=Your Name Here

# Номер телефона для пополнения баланса (Теле2)
PAYMENT_PHONE=+7-991-998-6115

# USDT кошелек (BEP-20 / Binance Smart Chain)
USDT_WALLET=0x97aa6013580c4f34fae3f7b4f42c176e9bd0ac7c
